main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: large;
}

main div {
    display: flex;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
}
