main:nth-child(1) {
    width: 100%;
}

main {
    width: 100%;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table img {
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 79%;
}

td {
    height: 40px;
    vertical-align: middle;
    color: #1351d8;
    font-size: large;
    font-weight: bold;
}

td div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input {
    width: 30px;
    height: 30px;
}

.button {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.button button {
    padding: 10px;
    background-color: #1351d8;
    border-radius: 10px;
    color: white;
    border: none;
}

.button button:hover {
    background-color: darkblue;
}

@media (max-width: 745px) {
    main {
        height: 85vh;
    }

    main iframe {
        height: 300px;
    }
    main {
        justify-content: center;
    }

    .header {
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .tabela-scroll {
        overflow-x: auto;
        width: 100%;
      }
      
    .tabela-scroll table {
        min-width: 700px; /* ou mais, conforme necessário */
        border-collapse: collapse;
    }
}