main:nth-child(1) {
    width: 100%;
}

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria img {
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 79%;
}

.textoGaleria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #1351d8;
    font-size: large;
    font-weight: bold;
}

.input {
    width: 30px;
    height: 30px;
}

.button {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.button button {
    padding: 10px;
    background-color: #1351d8;
    border-radius: 10px;
    color: white;
    border: none;
}

@media (max-width: 745px) {
    main {
        height: 85vh;
    }

    main iframe {
        height: 300px;
    }
    main {
        justify-content: center;
    }

    .header {
        padding: 10px;
    }
}